$base: #1e1e2e;
$mantle: #181825;
$surface0: #313244;
$green: #a6e3a1;
$peach: #fab387;
$mauve: #cba6f7;
$red: #f38ba8;
$blue: #89b4fa;
$yellow: #f9e2af;
$text: #cdd6f4;

* {
  font-size: 15px;
  font-family: "Iosevka Nerd Font";
  padding: 0;
  margin: 0;
}

#barbie {
  margin: 6px 11px;
}

#widget {
  background: $base;
  border-style: solid;
  padding: 6px 11px;
  border-radius: 6px;
}

label{
  color: $text;
}

#face {
  color: $text;
}

#clock {
  font-family: "Iosevka Term";
  font-weight: 700;

}
