$base: #1e1e2e;
$mantle: #181825;
$surface0: #313244;
$green: #a6e3a1;
$peach: #fab387;
$mauve: #cba6f7;
$red: #f38ba8;
$blue: #89b4fa;
$yellow: #f9e2af;
$text: #cdd6f4;

* {
  font-size: 15px;
  font-family: "Iosevka Nerd Font";
  padding: 0;
  margin: 0;
}

#barbie {
  margin: 6px 11px;
}

#widget {
  background: $base;
  border-style: solid;
  border-color: $surface0;
  border-width: 0 4px 4px 0;
}
label{
  color: $text;
}

levelbar {
  border-radius: 10px;
}

#face {
  color: $text;
}

#mem {
  margin-left: 10px;
  color: $yellow;
}

#volume {
  color: $green;
}

#battery {
  color: $text;
}

#power label {
  color: $red;
}

#brightness {
  color: $text;
}

#search label {
  color: $blue;
  font-size: 14px;
}

#power,
#search {
  margin: -2px 0;
}

#clock {
  font-family: "Iosevka Term";
  font-weight: 700;

}
